.idea/

.DS_Store
._*
.~*#
*.pyc
*.swp
*.swo
*.swn
.svn
*.orig
*.egg-info
.coverage
htmlcov/

celerybeat-schedule
celery_*.pid

bandit-report.html

gloud-key.json

*.log

tmp/
data/
media/
static/
test_data.json

.env
